body
{
	margin: 0;
	padding: 0;
	color: white;
	font: normal 12pt Garamond, Arial,Helvetica,sans-serif;
	--background: #EFEFEF;
	background: #000000;
	height:100%;
	min-height:100%;
	width:95%;
}

html
{
	min-height:100%;
	height:100%:
}

.main
{
	min-height:90%;
	height:90%;
	width:95%;
	padding:0;
}

.logo
{
	min-height:10%;
	height:10%;
	width:30%;
	float:right;
}

.info_block
{
	min-height: 90%;
	height: 90%;
	width: 45%;
	float:right;
}

.gallery
{
	min-height:100%;
	height:100%;
	width:600;
} 

.empty
{
	width:20%;
	height:100%;
	min-height:100%;
	float:left;
	border: 1px solid white;
}

.preview
{
	height:100%;
	min-height:100%;
	width:50%;
	float:left;
}

#page
{
	background: black;
	min-height: 100%;
	height:100%;
}

#header
{
	margin: 0;
	padding: 0;
}

#content
{
    padding: 20px;
}

#image-show
{
	position:relative;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	margin-top:5px;
	height:10%;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #ae0d0d;
	width:50%;
	margin-left:25%;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
	color: white
}

#mainmenu
{
	--background:white url(bg_red.png) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#a6a6a6;
	background-color:transparent;
	font-size:18pt;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
	animation-name: roll;
	animation-duration: 1s;
	animation-iteration-count:1;
	animation-timing-function:linear;
	-webkit-animation-name: roll;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-timing-function:linear;
	
}

@keyframes roll
{
	from {top:0px; left:0px;}
	20%   {transform: translateY(25px);}
	40%	  {top:-50px, left:0px;}
	60%   {transform: translateY(50px);}
	80%   {top:-50px; left:0px;}
	to	 {transform:translateY(25px);}
}

@-webkit-keyframes roll
{
	from {top:0px; left:0px;}
	20%   {-webkit-transform: translateY(25px);}
	40%	  {top:-50px, left:0px;}
	60%   {-webkit-transform: translateY(50px);}
	80%   {top:-50px; left:0px;}
	to	 {-webkit-transform:translateY(25px);}
}

#mainmenu ul li a:hover 
{
	color: white;
	text-decoration:none;
	/*transform: translate(0, 100px) translate(0, -200px);
	-webkit-transform: translate(0, 100px) translate(0, -200px);
	-o-transform: translate(0, 100px) translate(0, -200px);
	-moz-transform:translate(0, 100px) translate(0, -200px);
	-ms-transform:translate(0, 100px) translate(0, -200px);*/
	animation-name: roll;
	animation-duration: 1s;
	animation-iteration-count:1;
	animation-timing-function:linear;
	-webkit-animation-name: roll;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-timing-function:linear;
}

#mainmenu ul li.active a
{
	color: white;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}