body
{
    margin: 0;
    padding: 0;
    color: black;
    font-family: Palatino, Palatino Lynotype, Garamond, Verdana, Georgia, Times, Arial, Helvetica, serif;
    font-size: 12pt;
    background: #ffffff;
    height:100%;
    min-height:100%;
    width:100%;
    overflow-y: hidden;
    position: relative;
}

html
{
    min-height:100%;
    height:100%;
}

.text
{
    margin-right:20%;
    color:black;
}

.main
{
    min-height:90%;
    height:90%;
    width:100%;
    padding:0;
    /*border:1px solid orange;*/
}

.logo
{
    min-height:10%;
    height:10%;
    width:100%;
    float:right;
    /*border: 1px solid #a0ffa0;*/
    position: absolute;
}

.themeChange
{
    width: 25px;
    height:25px;
    border:0px;
    padding: 0px;
}

.themeChangeWrapper
{
    min-height: 1%;
    height:1%;
    width:100%;
    position: relative;
}

.info_block
{
    min-height: 85%;
    height: 85%;
    width: 60%;
    float:right;
    /*border:1px dashed blue;*/
}

.gallery
{
    min-height:100%;
    height:100%;
    width:100%;
    /*border:1px solid green;*/
}

/*.empty*/
/*{*/
/*width:20%;*/
/*height:100%;*/
/*min-height:100%;*/
/*float:left;*/
/*border: 1px solid white;*/
/*}*/

.main_wrapper
{
    top:15%;
    height:85%;
    min-height: 85%;
    width:100%;
    /*border: 1px dashed #ff00ff;*/
    position: relative;
}

.preview
{
    height:100%;
    min-height:100%;
    width:35%;
    float:left;
    /*border:1px dashed white;*/
    position: absolute;
}

.ph-content
{
    min-height: 100%;
    height:100%;
    width:100%;
    position:absolute;
    /*border:1px dashed #b8860b;*/
    overflow: auto;
    font-color:black;
}

.ph-content-wrapper
{
    top:3%;
    left:37%;
    min-height: 97%;
    height: 97%;
    width: 60%;
    position: absolute;
    overflow: hidden;
    /*border: 1px solid #ffffff;*/
}

/*.service*/
/*{*/
/*height: 150px;*/
/*width:  600px;*/
/*border: 1px solid white;*/
/*font-size: 14pt;*/
/*text-decoration:none;*/
/*font-family: Palatino, Palatino Lynotype, Garamond, Verdana, Georgia, Times, Arial, Helvetica, serif;*/
/*position: relative;*/
/*}*/

.serviceTable
{
    font-size: 12pt;
}

.innerService h2
{
    font-family: Palatino, Palatino Lynotype, Garamond, Verdana, Georgia, Times, Arial, Helvetica, serif;
    text-decoration: none;
    margin-top: 0;
    margin-before:0;
    -webkit-margin-before:0;
    -moz-margin-before:0;
    -o-margin-before:0;
    -ms-margin-before:0;
    -khtml-margin-before:0;
}

.serviceAlert
{
    color:red;
}

.innerService h2::before
{
    margin-before:0;
    -webkit-margin-before:0;
}

.innerService a
{
    margin-top: 0;
    color:#858585;
    font-size: 14pt;
    text-decoration:none;
    font-family: Palatino, Palatino Lynotype, Garamond, Verdana, Georgia, Times, Arial, Helvetica, serif;
}

.innerService a:hover
{
    color: black;
    text-decoration:none;
}

.innerService a.active
{
    color: black;
    text-decoration:none;
}

.serviceTable td
{
    border-bottom: 1px;
}

#page
{
    background: white;
    min-height: 100%;
    height:100%;
}

/*#header*/
/*{*/
/*margin: 0;*/
/*padding: 0;*/
/*}*/

/*#image-show*/
/*{*/
/*position:relative;*/
/*}*/

/*#sidebar*/
/*{*/
/*padding: 20px 20px 20px 0;*/
/*}*/

#footer
{
    margin-top:5px;
    height:10%;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #ae0d0d;
    width:50%;
    margin-left:25%;
    position: relative;
    /* bottom: 2%;*/
}

#mainmenu
{
    top:10%;
    float: right;
    display:inline;
    /*position: fixed;*/
    /*border: 1px solid red;*/
    width:100%;
    height:5%;
    position: absolute;
}

#mainmenu ul
{
    /*padding:6px 20px 5px 20px;*/
    margin:0px;
    float:right;
    /*border:1px solid green;*/
}

#mainmenu ul li
{
    display: inline;
    height: 100%;
    /*border:1px solid #adff2f;*/
    position: relative;
}

#divMenu
{
    display:inline;
    position:relative;
    height: 100%;
    border:1px solid white;
}

#mainmenu ul li a
{
    color:#858585;
    background-color:transparent;
    font-size:18pt;
    font-family: Palatino, Palatino Lynotype, Garamond, Verdana, Georgia, Times, Arial, Helvetica, serif;
    /*font-weight:bold*/;
    text-decoration:none;
    /*//padding:5px 8px;*/
    padding-right: 8px;
}

/*#mainmenu ul li:hover a*//*:hover*/
#mainmenu ul li a:hover
{
    color: black;
    text-decoration:none;
}

#mainmenu ul li.active > a
{
    color: black;
    text-decoration:none;
}

/*вложенное меню 2 уровня */
#mainmenu ul ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    left: 0px;
    top: 80%;
    /*position: absolute;*/
    z-index: 100;
    background: #ffffff;
}

#mainmenu ul ul li {
    float: left;
    font-size:10pt;
    margin: 0;
    width: 200px;
    text-align: left;
}
#mainmenu ul ul li a {
    color:#858585;
    background-color:transparent;
    font-size:12pt;
    text-decoration:none;
    padding:5px 8px;
}

#mainmenu ul li:hover > ul {
    display: block;
}
#mainmenu ul li:hover, #mainmenu li.jshover {
    /* background: #424242; */
}
/*Вложенное меню 3го уровня*/
#mainmenu ul ul ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    left:200px;
    top: 0px;
    z-index: 100;
    background: #ffffff;
}

#mainmenu ul ul ul li {
    float: left;
    font-size:10pt;
    margin: 0;
    width: 200px;
    text-align: left;
}
#mainmenu ul ul ul li a {
    color:#858585;
    background-color:transparent;
    font-size:12pt;
    text-decoration:none;
    padding:5px 8px;
}

#mainmenu ul ul li:hover > ul {
    display: block;
}

/********************************/
/*версия для страницы с галереей*/
/********************************/
.main_gallery
{
    min-height:90%;
    height:90%;
    width:100%;
    padding:0;
    /*position:absolute;*/
    /*border:1px solid green;*/
}

.logo_gallery
{
    min-height:10%;
    height:10%;
    width:100%;
    float:right;
    position: absolute;
}

.info_block_gallery
{
    top:15%;
    min-height: 85%;
    height: 85%;
    width: 100%;
    float:right;
    /*border:1px solid blue;*/
    position: relative;
    /*overflow: visible;*/
}

.gallery_gallery
{
    min-height:80%;
    height:80%;
    width:90%;
    /*border:1px solid red;*/
    position: absolute;
    margin: 0 auto;
    left:5%;
    /*margin-top: 5%;*/
    /*overflow-Y: auto*/;
}

.gallery_wrapper
{
    min-height: 90%;
    height: 90%;
    width: 85%;
    position: absolute;
    margin:0 auto;
    left:5%;
    margin-top:5%;
    overflow: hidden;
    /*margin-bottom: 10px;*/
    /*border: 1px solid white;*/
}

.empty_gallery
{
    width:20%;
    height:100%;
    min-height:100%;
    float:left;
    /*border: 1px solid white;*/
}

.preview_gallery
{
    height:100%;
    min-height:100%;
    width:35%;
    float:left;
    /* border:1px dashed white;*/
}

#page_gallery
{
    background: white;
    min-height: 100%;
    height:100%;
}

#header_gallery
{
    margin: 0;
    padding: 0;
}

#content_gallery
{
    padding: 20px;
}

#image-show_gallery
{
    position:relative;
}

#sidebar_gallery
{
    padding: 20px 20px 20px 0;
}

#footer_gallery
{
    margin-top:5px;
    height:10%;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #ae0d0d;
    width:50%;
    margin-left:25%;
}

#logo_gallery
{
    padding: 10px 20px;
    font-size: 200%;
    color: white
}

/**********************/
/*Снова общие элементы*/
/**********************/
#categories ul
{
    padding:6px 20px 5px 20px;
    margin:0px;
    display: block;
    list-style: none;
}

#categories ul li a
{
    color:#858585;
    background-color:transparent;
    font-size:14pt;
    text-decoration:none;
    padding:5px 8px;
}

#categories ul li a:hover
{
    color: black;
    text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

div.form .rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
    font-size: 0.9em;
    padding: 5px 20px;
}

div.breadcrumbs span
{
    font-weight: bold;
}

div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet
{

}

.portlet-decoration
{
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}

.portlet-title
{
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}

.portlet-content
{
    font-size:0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background:#EFFDFF;
}

.portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.portlet-content li
{
    padding: 2px 0 4px 0px;
}

.operations
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li
{
    padding-bottom: 2px;
}

.operations li a
{
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

.operations li a:visited
{
    color: #0066A4;
}

.operations li a:hover
{
    background: #80CFFF;
}